/.vs
/CallAPI_TranslateGoogleNihongo/obj
/CallAPI_TranslateGoogleNihongo/bin
/DB definition diagram _WRS/obj
/DB definition diagram _WRS/bin
/TranslateJPENAssembly/obj
/TranslateJPENAssembly/bin
/CallAPI_TranslateGoogleNihongo.v12.suo
/DB definition diagram _WRS.v12.suo
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo.csproj.user
/Tuhoconline/bin
/Tuhoconline/obj
/Translate Excel/bin
/DB定義図＿WRS/bin
/DB definition diagram _WRS/.vs
