/.vs
/CallAPI_TranslateGoogleNihongo/obj
/CallAPI_TranslateGoogleNihongo/bin
/DB definition diagram _WRS/obj
/DB definition diagram _WRS/bin
/TranslateJPENAssembly/obj
/TranslateJPENAssembly/bin
/CallAPI_TranslateGoogleNihongo.v12.suo
/DB definition diagram _WRS.v12.suo
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo.csproj.user
